<a href="https://colab.research.google.com/github/TABEYWICKRAMA/ML-series-end-to-end/blob/main/MLOM_assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# connect to drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [3]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
data=pd.read_csv('/content/drive/MyDrive/MLOM_assignment2/spam.csv')
data

     Label                                          EmailText
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham             Will Ã_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [4]:
data['Spam']=data['Label'].apply(lambda x:1 if x=='spam' else 0)
data.head(5)

  Label                                          EmailText  Spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0

In [5]:
X = data['EmailText'].values
y = data['Label'].values

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=0)

In [7]:
#CounterVectorizer Convert the text into matrics
from sklearn.feature_extraction.text import CountVectorizer

In [8]:
from sklearn.svm import SVC
model=SVC(C=1,kernel="linear")

In [9]:
from sklearn.pipeline import Pipeline
clf=Pipeline([
    ('vectorizer',CountVectorizer()),
    ('nb',SVC())
])

In [10]:
clf.fit(X_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', SVC())])

In [11]:
emails=[
    'Hey, you have won a car !!!!. Conrgratzz',
    'Dear applicant, Your CV has been recieved. Best regards',
    'You have received $1000000 to your account',
    'Join with our whatsapp group',
    'Kindly check the previous email. Kind Regard'
]

In [12]:
clf.predict(emails)

array(['ham', 'ham', 'ham', 'ham', 'ham'], dtype=object)

In [13]:
clf.score(X_test,y_test)

0.9766816143497757